body {
  padding: 0%;
  margin: 0%;
  font-family: "Roboto", sans-serif;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: antiquewhite;
}
.head {
  text-align: center;
  background-color: burlywood;
}
.head h1, h3 {
  margin: 0;
  padding: 10px;
}

.image-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.image-container img {
  width: 300px;
  height: auto;
  margin: 10px;
}
footer {
  background-color: burlywood;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
